.projectSection {
  background: url(https://imagedelivery.net/WuNJ9qXloNU2BNpKhSqjvQ/5ba3effa-5032-4b31-ffc8-62da87a4a000/public);
  background-size: cover;
  overflow: hidden;
  height: 100%;
  padding: 20px;
}

.head {
  display: grid;
  justify-content: center;
  margin-left: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-right: 1.5rem;
  padding-bottom: 0.75rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
}

.projectGrid {
  display: grid;
  grid-auto-flow: dense;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .projectGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .projectCard {
    width: 100%;
  }
}

.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: hsla(0, 0%, 100%, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(12.3px);
  -webkit-backdrop-filter: blur(12.3px);
  margin-bottom: 20px;
  color: white;
  max-width: 400px;
  height: 100%;
  margin: 0 auto; /* Center horizontally */
}

.image {
  width: 90%;
  height: auto; /* Use auto instead of 100% to preserve aspect ratio */
  margin-top: 20px;
  object-fit: contain;
}

.projectTitle {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.iconWrapper {
  display: inline-flex;
}
