.skillsSection {
    background: url(https://imagedelivery.net/WuNJ9qXloNU2BNpKhSqjvQ/5ba3effa-5032-4b31-ffc8-62da87a4a000/public);
    background-size: cover;
  }

  .head {
    display:grid;
    justify-content: center;
    margin-left: 1.5rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
    margin-right:1.5rem;
    padding-top:1.5rem;
    padding-bottom:.75rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color:white;
  }

  .container1 {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .row:before {
    content: " ";
    display: table;
  }
  .row:after {
    clear: both;
  }
  .row_md_12 {
    display: flex;
    flex-direction: column;
  }
  .timeline_centered {
    z-index: 1;
    position: relative;
    margin-bottom: 30px;
  }
  .timeline_centered:before {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    background: #f3f2f7;
    top: 20px;
    z-index: -1;
    bottom: 20px;
    margin-left: 19px;
  }
  .timeline_entry {
    margin-bottom: 10px;
    clear: both;
    @apply font-Comfortaa;
  }
  .timeline_icon {
    display: block;
    width: 40px;
    font-size: 20px;
    height: 40px;
    background-color: #f9bf3f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f2f3f7;
    -webkit-box-shadow: 0 0 0 5px #f2f3f7;
    box-shadow: 0 0 0 5px #f2f3f7;
    line-height: 35px;
    float: left;
  }
  .timeline_icon_2 {
    background: #de1db4;
  }
  .timeline_icon_5 {
    background: #00ffff;
  }

  .timeline_icon_4 {
    background: #ff0040;
  }

  .timeline_entry_inner {
    position: relative;
    top: 0px;
    margin-left: 11.5px;
  }
  .timeline_icon_3 {
    display: block;
    width: 20px;
    font-size: 20px;
    height: 20px;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f2f3f7;
    -webkit-box-shadow: 0 0 0 5px #f2f3f7;
    box-shadow: 0 0 0 5px #f2f3f7;
    line-height: 35px;
    float: left;
  }
  .label {
    position: relative;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 1.5em;
    margin-left: 60px;
  }
  .label h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 30px 0;
    color: white;
  }
  .label h2 span {
    -webkit-opacity: 0.4;
    -moz-opacity: 0.5;
    opacity: 0.6;
    -ms-filter: alpha(opacity=40);
    filter: alpha(opacity=40);
    font-size: 16px;
  }

  .label p {
    margin-bottom: 1.5em;
    color: white;
    opacity: 0.7;
    font-size: medium;
  }

  /* p > a {
    text-decoration: none;
    color: inherit;
  } */

  /* a:hover {
    color: rgb(121, 189, 252);
    text-decoration: none;
  } */

  @keyframes text {
    from {
      transform: translateX(-30px);
      opacity: 0.1;
    }
    /* to{opacity: 1;} */
  }
